# Ritual Testnet RPC URL
RPC_URL=https://testnet.ritual.net

# Your newly created wallet private key for the Infernet Node & Deployment
# DO NOT USE YOUR MAIN WALLET. ALWAYS USE A FRESH WALLET WITH ONLY TESTNET TOKENS.
PRIVATE_KEY=0x...

# The Coordinator address on Ritual Testnet
COORDINATOR_ADDRESS=0x8D871Ef2826ac9001fB2e33fDD6379b6aaBF449c
